<button id="<%=css_id%>" class="mdl-button mdl-button--icon mdl-js-button">
  <i class="material-icons"><%=icon%></i>
</button>

<div class="mdl-menu mdl-menu--<%=direction%> mdl-js-menu" for="<%=css_id%>">
  <a href="<%=path_to :conta%>" class="mdl-menu__item">Conta</a>
  <a href="<%=path_to :mensagens%>" class="mdl-menu__item">Mensagens</a>
</div>
