a:hover, a:active, a:focus,
button:hover, button:active, button:focus {
  outline: none;
}

body {
  background-color: #efebe9; /* brown-50 */
  color: #212121;
}

.prd-ribbon {
  width: 100%;
  height: 40vh;
  /* background-color: #3F51B5; */
  /* background-color: #e0e0e0; /* gray-300 /**/
  background-color: #ffe082; /* indigo-50 /**/
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.prd-content {
  min-height: 700px;
}

.prd-landpage {
  background-color: #e0f7fa;
}

.prd-content--with-ribbon {
  margin-top: -40vh;
}

.prd-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #4e342e !important; /* brown-800 */
}

.prd-navigation__link .material-icons {
  margin-right: 1em;
}

.prd-layout__drawer {
}

.prd-layout__drawer .prd-navigation .prd-navigation__link {
}

.prd-layout__drawer .prd-navigation .prd-navigation__link:hover {
}

.prd-layout__header .prd-layout__header-row {
  justify-content: center;
}

.prd-layout__header .prd-navigation {
  text-align: center;
}

.prd-layout__header .prd-navigation .prd-navigation__link {
  display: block;
  text-transform: uppercase;
  flex: 1;
  justify-content: center;
}

.prd-layout__header .prd-navigation .prd-navigation__link.is-active {
  position: relative;
  font-weight: bold;
  /* background-color: rgba(0, 150, 136, 0.50); */
}

.prd-layout__header .prd-navigation .prd-navigation__link.is-active:after {
  content: "";
  width: 70%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 15%;
  background-color: #6d4c41; /* brown-600*/
}

.prd-layout__drawer .prd-drawer__brand {
  width: 60%;
  max-width: 100%;
  margin: 16px 40px;
}

.prd-layout__drawer .prd-navigation .prd-navigation__link.is-active {
  background-color: rgba(0, 0, 0, 0.25);
}

.prd-layout__header {
}

.prd-layout-title {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.prd-layout-icon {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  max-width: 64px;
}

.prd-layout-icon-expanded {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  top: 32px;
}

.prd-layout-title .material-icons {
  margin-right: 0.50em;
}

.mdl-grid.prd-grid--border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.prd-data-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mdl-card__icon.material-icons {
  font-size: 16em;
  color: #bbccaa;
}

.mdl-card--expandable, .mdl-data-table--expandable, .mdl-button--expand {
  width: 100%;
}

.prd-background-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.prd-background-icon .material-icons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 50%;
  min-height: 50%;
  opacity: 0.10;
  margin: auto;
  z-index: -9;
  font-size: 9.50em;
  display: flex;
  /* justify-content: center; */
  color: #789;
}

.mdl-tabs .mdl-tabs__tab-bar.mdl-tabs__tab-bar--non-centered {
  justify-content: flex-start;
}

.mdl-grid.mdl-grid--bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.prd-frame-centered {
  margin: 0px auto;
  justify-content: center;
  /* align-content: space-between; */
  /* align-items: flex-start; */
}

img.prd-brand {
  width: 70%;
}

.prd-brand-line {
  height: 0px;
  margin: 0px;
  border: 4px solid transparent;
}

.prd-brand-line.prd-brand-line--color-red {
  border-color: #b71c1c;
}

.prd-brand-line.prd-brand-line--color-darkindigo {
  border-color: #1a237e;
}

.prd-brand-line.prd-brand-line--color-white {
  border-color: #ffffff;
}

.prd-color--information {
}

.prd-color--warning {
  color: #333;
  background-color: #fff176;
}

.prd-color--error {
  background-color: #d50000;
}

.mdl-list__item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.prd-button--float-right {
  display: flex;
  justify-content: right;
}

.prd-searchbox {
}

.prd-max-width {
  max-width: 840px;
  width: 100%;
  margin: auto;
}

.prd-header__button-add {
  position: absolute;
  top: 96px;
  right: 32px;
}

.prd-footer__button-add {
  position: fixed;
  display: block;
  right: 0;
  bottom: 8px;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.prd-layout--centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prd-big-icon.material-icons {
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.50);
}

.prd-card .mdl-card__supporting-text {
  width: auto;
  text-align: justify;
}

.prd-page {
  padding: 1.25em 2.00em;
}

.prd-page h1 { font-size: 2.00em; }
.prd-page h2 { font-size: 1.90em; }
.prd-page h3 { font-size: 1.80em; }
.prd-page h4 { font-size: 1.70em; }
.prd-page h5 { font-size: 1.60em; }
.prd-page h6 { font-size: 1.50em; }

.prd-board {
  display: flex;
  flex-flow: row wrap;
}

.prd-board--centered {
  justify-content: center;
}

.prd-minicard {
  margin: 0.33vh 0.25vw;
}

/* .prd-minicard:first-child { */
/*   margin-left: 0; */
/* } */

/* .prd-minicard:last-child { */
/*   margin-right: 0; */
/* } */

a.prd-minicard {
  text-decoration:none;
}

a.prd-minicard:hover {
}

.prd-minicard {
}

.prd-minicard .mdl-card__supporting-text {
  width: auto;
  text-align: left;
  font-style: italic;
}

.prd-minicard.prd-categoria {
  width: 170px;
  min-height: 8em;
  border-top: solid 8px #ffab00; /* amber-a700 /**/
}

.prd-minicard.prd-categoria .material-icons {
  font-size: 64px;
  color: #ff6f00;
}

.prd-minicard.ideia {
  width: 50vw;
}

.prd-minicard.ideia .mdl-card__supporting-text {
  height: 1rem;
}

.prd-footer {
}

img.prd-image-expanded {
  width: 100%;
}
