<p>
  Olá, <%=@ideia.autor.nome%>
</p>

<p>
  Sua ideia "<%=@ideia.titulo%>" passou pelo processo de moderação, mas
  precisa ser revisada para publicação.
</p>

<p>
  A mensagem do responsável foi a seguinte:

  <blockquote>
    "<%=@historico.descricao%>"
  </blockquote>
</p>

<p>
  Agradecemos sua participação e esperamos mais ideias de sua autoria.
</p>
