<p>
  Olá, <%=@ideia.autor.nome%>.
</p>

<p>
  Parabéns! Sua ideia "<%=@ideia.titulo%>" passou pelo processo de moderação e
  foi publicada.
</p>

<p>
  A partir de agora, todos poderão ler sua proposta. Em breve, sua ideia será
  avaliada pelo <em>Comitê de Inovação</em>.
</p>

<p>
  Agradecemos sua participação e esperamos mais ideias de sua autoria.
</p>
