<p>
  Olá, <%=@ideia.autor.nome%>.
</p>

<p>
  Parabéns! Sua ideia "<%=@ideia.titulo%>" passou pelo processo de avaliação com <%=@avaliacao.pontos%> pontos e
  foi classificada como "<%=@avaliacao.classificacao.titulo%>".
</p>

<p>
  Em breve, você será premiado pelo <em>Comitê de Inovação</em>.
</p>

<p>
  Agradecemos sua participação e esperamos mais ideias de sua autoria.
</p>
