<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
      <div class="mdl-tabs__tab-bar">
        <a href="#ideias" class="mdl-tabs__tab is-active">Ideias</a>
      </div>

      <div id="ideias" class="mdl-tabs__panel is-active">
        <%=partial 'moderacao/ideias/list', locals: { ideias: @ideias }%>
      </div>
    </div>
  </div>
</div>
