<div class="mdl-list">
<%@ideias.each do |ideia|%>
  <div class="mdl-list__item mdl-list__item--two-line">
    <div class="mdl-list__item-primary-content">
      <span><%=ideia[:titulo]%></span>
      <span class="mdl-list__item-sub-title"><%=ideia[:total_apoiadores]%> apoiadores</span>
    </div>
    <div class="mdl-list__item-secondary-content">
      <a href=""><i class="material-icons">keyboard_arrow_right</i></a>
    </div>
  </div>
<%end%>
</div>
