<button id="fab" type="button" class="prd-footer__button-add mdl-button mdl-button--fab mdl-button--open-dialog mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-shadow--4dp">
  <i class="material-icons"><%=icon%></i>
</button>
<span class="mdl-tooltip mdl-tooltip--top" for="fab"><%=tooltip%></span>
