<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <h2>Programa de Ideias e Sugestões Prodam</h2>
  </div>

  <%@ideias.each_with_index do |ideia, i|%>
    <div class="mdl-cell mdl-cell--12-col">
    <%=partial 'ideias/card', locals: { ideia: ideia }%>
    </div>
  <%end%>
</div>
