<!doctype html>
<html lang="pt">
<head>
  <%=partial 'layout-http-head'%>
</head>

<body>
  <div class="prd-layout mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button">
    <%=partial 'landpage-header'%>

    <main class="mdl-layout__content">
      <div class="prd-content prd-landpage">
        <%=yield%>
      </div>
      <%=partial 'layout-footer'%>
    </main>
  </div>

  <%unless authenticated?%>
    <%=partial 'layout-dialog-signin'%>
  <%else%>
    <%=yield_content :dialog%>
  <%end%>

  <script src="<%=path_to '/src/material-design-lite/material.min.js'%>"></script>

  <%if message[:text]%>
    <%=partial 'layout-notification'%>
  <%end%>

  <%=yield_content :script%>
</body>
</html>
