<footer class="prd-footer mdl-mini-footer">
  <div class="mdl-mini-footer__left-section mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--4-phone"></div>
  <div class="mdl-mini-footer__center-section mdl-typography--text-center mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-phone">
    <span><%=Date.today.year%> &copy; PRODAM - Processamento de Dados Amazonas S/A</span><br/>
    <small><a href="<%=path_to :versao%>" style="text-decoration: none"><%=version_info%></a></small>
  </div>
  <div class="mdl-mini-footer__right-section mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--4-phone"></div>
</footer>
